@import url("/src/App.css");


@mixin vertical-list{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin important-text {
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
  }

@mixin backgoundColor-1{
    background: linear-gradient($color-1 30%, $color-2 11%, $color-2 85%, $color-3 30%);
}



$mobile-width : 576px;
$tablet-width : 768px; 
$desktop-width : 1024px;

@mixin mobile{
    @media (min-width: 200px) and (max-width: $mobile-width) {
        background: linear-gradient($color-1 11.3%, $color-2 10%, $color-2 78%, $color-3 30%);

        .errorMessage{
            font-weight: bolder;
            transform: translate(1px, 20px);
            display: none;
        }
        
        
    }
}

@mixin tablet{
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        background: linear-gradient($color-1 19%, $color-2 2%, $color-2 81%, $color-3 30%);

        .errorMessage{
            font-weight: bold;
            transform: translate(-220px, 20px);
            display: none;
        }
    }
}

@mixin desktop{
    @media (min-width: $desktop-width) {
        background: linear-gradient($color-1 34%, $color-2 11%, $color-2 85%, $color-3 30%);

        .errorMessage{
            font-weight: bold;
            transform: translate(-220px, 20px);
            display: none;
        }
    }
}